@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

/* ============ Universal Styles ============= */

*                       {
                            box-sizing:                 border-box;
                            margin:                     0;
                            padding:                    0;
}


:root                   {
                            --soft-cyan:               #66e2dc;
                            --soft-red:                #fa7453;
                            --light-orange:            #ffb964;
                            --light-gray:              #fcfaf9;
                            --dark-black:              #191826;
}

/* ============ HEADER ============= */

.container              {
                            background-image:           url('../images/bg-main-desktop.png');
                            background-repeat:          no-repeat;
                            background-size:            cover;
                            background-position:        center-top;
}

.logo                   {
                            width:                      100px;
                            height:                     20px;
                            margin:                     3rem 0 0 7rem;

}

.row                    {
                            display:                    flex;
                            flex-direction:             row;
                            justify-content:            space-around;
}

h1                      {
                            font-family:                'IBM Plex Sans', sans-serif;
                            font-weight:                700;
                            font-size:                  70px;
                            margin:                     12rem 0 1rem 7rem;
}

p                       {
                            font-family:                'IBM Plex Sans', sans-serif;
                            font-size:                  20px;
                            line-height:                34px;
                            margin:                     2rem 0 0 7rem;
                            color:                     #191826;
}

/* ============ MAIN - BLACK PART - ============= */

.middle-row             {
                            background-color:          #191826;
                            background-image:           url('../images/bg-pattern-2.svg');
                            background-repeat:          norepeat;
                            background-position:        top center;
                            width:                      1110px;
                            height:                     600px;
                            border-radius:              10px;
                            display:                    flex;
                            flex-direction:             row;
                            justify-content:            space-around;
                            margin:                     15rem 0 0 7rem;
}

.cell-phone             {
                            width:                      312px;
                            height:                     642px;
                            margin-top:                 -12rem;
                            margin-left:                4rem;
}

/* ============ MAIN - ORANGE PART - ============= */

.premium-subtitle       {
                            background-color:           #fa7453;
                            border-radius:              10px;
                            width:                      446px;
                            height:                     625px;
                            display:                    flex;
                            flex-direction:             column;
                            justify-content:            center;
                            margin-top:                 4rem;
}

h2                      {
                            font-size:                  2.5rem;
                            color:                     #fcfaf9;
                            margin:                      1rem 0 0 4rem;
}

.primary-card-paragraph {
                            font-size:                   1.1rem;
                            font-family:                'IBM Plex Sans', sans-serif;
                            color:                      #fcfaf9;
                            font-weight:                 400;
                            margin-left:                 4rem;
                            line-height:                 1.2rem;

}

.price                  {
                            font-family:                'IBM Plex Sans', sans-serif;
                            font-size:                   1.1rem;
                            font-weight:                 700;
                            line-height:                 2.2;
                            margin-left:                 4rem;
                            color:                      #fcfaf9;
}

.price-light            {
                            vertical-align:              middle;
                            font-size:                   2rem;
                            font-weight:                 600;
                            color:                      #66e2dc;
}

.premium-subtitle a     { 
                            text-decoration:             none;
                            margin-top:                  2rem;
                            margin-left:                 4rem;
                            padding-top:                 20px;
}

.apple                  {
                            background-color:           #191826;
                            color:                      #fcfaf9;
                            width:                       333px;
                            height:                      61px;
                            border-radius:               10px;
                            text-align:                  center;
                            margin-top:                  1rem;
}

.ios-download           {
                            margin:                      -1px 10px;
}

.apple:hover            {
                           background-color:            #66e2dc;
                           cursor:                       pointer;
}

.android                {
                            background-color:           #fcfaf9;
                            color:                      #191826;
                            width:                       333px;
                            height:                      61px;
                            border-radius:               10px;
                            text-align:                  center;
                            margin-bottom:               2rem;
}

.android-download       {
                            margin:                      -1px 10px;
}

.android:hover          {
                            background-color:            #ffb964;
                            cursor:                        pointer;
}

/* ============ FOOTER ============= */

footer                  {
                            margin-top:                    9rem;
}

.footer-logo            {
                            margin-top:                    1rem;
}

.copyright-statement    {
                            margin-top:                    -0.3rem;
                            margin-left:                   -5rem;                               
}

.footer-span            {
                            color:                        #191826;
                            font-weight:                   700;
}

.social-icons           {
                            margin:                        0 10px;
}

.social-icons:hover     {
                            color:                        #fcfaf9;
                            cursor:                        pointer;
}

.link:hover            {
                            background-color:             #fa7453;
                            color:                        #fcfaf9;
                            text-decoration:               none;
                            cursor:                        pointer;
}