/* ============ Global Styles ============= */

html      {
             font-size:       16px;
}

*,
::before,
::after  {
             box-sizing:      border-box;
             margin:          0;
             padding:         0;
}

body     {
            min-height:       100vh;
            display:          flex;
            justify-content:  center;
            overflow-x:       hidden;
            background-color: #fcfaf9;
            font-family:      'Roberto', sans serif;
}


